<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="ROBOTS" content="NOODP,NOYDIR" />

		<title>{{ title }}</title>

		<link rel="shortcut icon" href="favicon.ico" />
		<link href="http://twitter.github.com/bootstrap/assets/css/bootstrap.css" rel="stylesheet">
	</head>
<body>
	<pre>{% block content %}

	{% endblock content %}</pre>

	{{ profiler|raw }}
</body>
</html>
